
.btn-success{
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
}

.btn-success:hover{
  color: #fff;
  background-color: #218838;
  border-color: #1e7e34;
}

.btn-light{
  color: #212529;
  background-color: #f8f9fa;
  border-color: #f8f9fa;
}

.btn-light:hover {
  color: #212529;
  background-color: #e2e6ea;
  border-color: #dae0e5;
}

.btn-danger{
  color: #fff;
  background-color: #bd2130;
  border-color: #b21f2d;
}
 
.btn-danger:hover{
  color: #fff;
  background-color: #c82333;
  border-color: #bd2130;
}
 
    
.btn-primary{
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.btn-primary:hover{
  color: #fff;
  background-color: #0069d9;
  border-color: #0062cc;
}

.btn-secondary{
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
}

.btn-secondary:hover, .btn-secondary[disabled]:hover{
  color: #fff;
  background-color: #5a6268;
  border-color: #545b62;
}

.btn-info{
  color: #fff;
  background-color: #17a2b8;
  border-color: #17a2b8;
}

.bnt-info:hover{
  color: #fff;
  background-color: #138496;
  border-color: #117a8b;
}

